*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.con{
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2,200px);

}

.box{
    margin: 10px;
    background-color: orange;
}

.active{
    background-color: green;
}



